# SNAPSHOT of the ELECTE Platform API description, fetched 2026-09-29 from
# https://api.electe.net/?path=openapi — the live document wins when they differ;
# CI's spec-drift job says when this copy is behind.
# GENERATED FILE — do not edit.
# Source: public-api/netlify/functions/v1.js (the ROUTES table).
# Regenerate: node scripts/generate-openapi.mjs
openapi: 3.1.0
info:
  title: ELECTE Platform API
  version: 1.0.0
  summary: Read your ELECTE workspaces, data sources, reports, usage and webhooks.
  description: |
    The v1 API exposes the platform's own resources. Authentication is a platform
    API key sent as `Authorization: Bearer <key>`; create and revoke keys in the
    API keys panel at https://platform.electe.net. There is no password sign-in and
    no sign-up on this API.
    
    Rate limits are per key and enforced in Postgres, so `X-RateLimit-Limit`,
    `X-RateLimit-Remaining`, `X-RateLimit-Reset` and `Retry-After` are accurate
    across regions and survive a cold start.
    
    Errors are RFC 9457 problem documents (`application/problem+json`) carrying a
    stable `code`.
    
    v1 is read-only. Write routes arrive with the `reports:write` and
    `webhooks:write` scopes that already exist on a key.
  contact:
    name: ELECTE Support
    email: support@electe.net
    url: https://platform.electe.net
servers:
  - url: https://api.electe.net
    description: Production
security:
  - apiKey: []
tags:
  - name: Identity
  - name: Workspaces
  - name: Data sources
  - name: Reports
  - name: Usage
  - name: Webhooks
paths:
  /v1/me:
    get:
      tags: [Identity]
      operationId: getV1Me
      summary: 'Describe the calling key: its user, its scopes, and the workspaces it can reach.'
      description: 'Requires the `read` scope.'
      x-fern-sdk-group-name: me
      x-fern-sdk-method-name: get
      x-fern-availability: generally-available
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit: { description: 'Requests allowed per minute for this key.', schema: { type: integer } }
            X-RateLimit-Remaining: { description: 'Requests left in the current window.', schema: { type: integer } }
            X-RateLimit-Reset: { description: 'Unix time when the window resets.', schema: { type: integer } }
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
  /v1/workspaces:
    get:
      tags: [Workspaces]
      operationId: getV1Workspaces
      summary: 'List the workspaces this key can reach.'
      description: 'Requires the `read` scope.'
      x-fern-sdk-group-name: workspaces
      x-fern-sdk-method-name: list
      x-fern-availability: generally-available
      parameters:
        - { name: limit, in: query, required: false, description: 'Page size, 1-100 (default 25).', schema: { type: integer, minimum: 1, maximum: 100, default: 25 } }
        - { name: offset, in: query, required: false, description: 'Rows to skip (default 0).', schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit: { description: 'Requests allowed per minute for this key.', schema: { type: integer } }
            X-RateLimit-Remaining: { description: 'Requests left in the current window.', schema: { type: integer } }
            X-RateLimit-Reset: { description: 'Unix time when the window resets.', schema: { type: integer } }
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
  /v1/workspaces/{workspaceId}:
    get:
      tags: [Workspaces]
      operationId: getV1WorkspacesWorkspaceId
      summary: 'Read one workspace, with the calling key''s role in it.'
      description: 'Requires the `read` scope.'
      x-fern-sdk-group-name: workspaces
      x-fern-sdk-method-name: get
      x-fern-availability: generally-available
      parameters:
        - name: workspaceId
          in: path
          required: true
          description: 'Workspace id. The key must have an active membership in it.'
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit: { description: 'Requests allowed per minute for this key.', schema: { type: integer } }
            X-RateLimit-Remaining: { description: 'Requests left in the current window.', schema: { type: integer } }
            X-RateLimit-Reset: { description: 'Unix time when the window resets.', schema: { type: integer } }
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
  /v1/workspaces/{workspaceId}/data-sources:
    get:
      tags: [Data sources]
      operationId: getV1WorkspacesWorkspaceIdDataSources
      summary: 'List the data sources visible to this key. Connection credentials are never returned.'
      description: 'Requires the `read` scope.'
      x-fern-sdk-group-name: dataSources
      x-fern-sdk-method-name: list
      x-fern-availability: generally-available
      parameters:
        - name: workspaceId
          in: path
          required: true
          description: 'Workspace id. The key must have an active membership in it.'
          schema: { type: string, format: uuid }
        - { name: limit, in: query, required: false, description: 'Page size, 1-100 (default 25).', schema: { type: integer, minimum: 1, maximum: 100, default: 25 } }
        - { name: offset, in: query, required: false, description: 'Rows to skip (default 0).', schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit: { description: 'Requests allowed per minute for this key.', schema: { type: integer } }
            X-RateLimit-Remaining: { description: 'Requests left in the current window.', schema: { type: integer } }
            X-RateLimit-Reset: { description: 'Unix time when the window resets.', schema: { type: integer } }
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
  /v1/workspaces/{workspaceId}/reports:
    get:
      tags: [Reports]
      operationId: getV1WorkspacesWorkspaceIdReports
      summary: 'List generated reports in a workspace. The report body is on the single-report route.'
      description: 'Requires the `read` scope.'
      x-fern-sdk-group-name: reports
      x-fern-sdk-method-name: list
      x-fern-availability: generally-available
      parameters:
        - name: workspaceId
          in: path
          required: true
          description: 'Workspace id. The key must have an active membership in it.'
          schema: { type: string, format: uuid }
        - { name: limit, in: query, required: false, description: 'Page size, 1-100 (default 25).', schema: { type: integer, minimum: 1, maximum: 100, default: 25 } }
        - { name: offset, in: query, required: false, description: 'Rows to skip (default 0).', schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit: { description: 'Requests allowed per minute for this key.', schema: { type: integer } }
            X-RateLimit-Remaining: { description: 'Requests left in the current window.', schema: { type: integer } }
            X-RateLimit-Reset: { description: 'Unix time when the window resets.', schema: { type: integer } }
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
  /v1/reports/{reportId}:
    get:
      tags: [Reports]
      operationId: getV1ReportsReportId
      summary: 'Read one report, including its generated content.'
      description: 'Requires the `read` scope.'
      x-fern-sdk-group-name: reports
      x-fern-sdk-method-name: get
      x-fern-availability: generally-available
      parameters:
        - name: reportId
          in: path
          required: true
          description: 'Report id.'
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit: { description: 'Requests allowed per minute for this key.', schema: { type: integer } }
            X-RateLimit-Remaining: { description: 'Requests left in the current window.', schema: { type: integer } }
            X-RateLimit-Reset: { description: 'Unix time when the window resets.', schema: { type: integer } }
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
  /v1/reports/{reportId}/status:
    get:
      tags: [Reports]
      operationId: getV1ReportsReportIdStatus
      summary: 'The report generation stage: queued, analysing, writing, exporting, completed or failed.'
      description: 'Requires the `read` scope.'
      x-fern-sdk-group-name: reports
      x-fern-sdk-method-name: getStatus
      x-fern-availability: generally-available
      parameters:
        - name: reportId
          in: path
          required: true
          description: 'Report id.'
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit: { description: 'Requests allowed per minute for this key.', schema: { type: integer } }
            X-RateLimit-Remaining: { description: 'Requests left in the current window.', schema: { type: integer } }
            X-RateLimit-Reset: { description: 'Unix time when the window resets.', schema: { type: integer } }
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
  /v1/workspaces/{workspaceId}/usage:
    get:
      tags: [Usage]
      operationId: getV1WorkspacesWorkspaceIdUsage
      summary: 'Metered usage for this key''s user — the same records Stripe is billed from.'
      description: 'Requires the `read` scope.'
      x-fern-sdk-group-name: usage
      x-fern-sdk-method-name: list
      x-fern-availability: generally-available
      parameters:
        - name: workspaceId
          in: path
          required: true
          description: 'Workspace id. The key must have an active membership in it.'
          schema: { type: string, format: uuid }
        - { name: limit, in: query, required: false, description: 'Page size, 1-100 (default 25).', schema: { type: integer, minimum: 1, maximum: 100, default: 25 } }
        - { name: offset, in: query, required: false, description: 'Rows to skip (default 0).', schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit: { description: 'Requests allowed per minute for this key.', schema: { type: integer } }
            X-RateLimit-Remaining: { description: 'Requests left in the current window.', schema: { type: integer } }
            X-RateLimit-Reset: { description: 'Unix time when the window resets.', schema: { type: integer } }
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
  /v1/workspaces/{workspaceId}/webhooks:
    get:
      tags: [Webhooks]
      operationId: getV1WorkspacesWorkspaceIdWebhooks
      summary: 'List the workspace''s outbound webhooks. The signing secret is never returned.'
      description: 'Requires the `read` scope.'
      x-fern-sdk-group-name: webhooks
      x-fern-sdk-method-name: list
      x-fern-availability: generally-available
      parameters:
        - name: workspaceId
          in: path
          required: true
          description: 'Workspace id. The key must have an active membership in it.'
          schema: { type: string, format: uuid }
        - { name: limit, in: query, required: false, description: 'Page size, 1-100 (default 25).', schema: { type: integer, minimum: 1, maximum: 100, default: 25 } }
        - { name: offset, in: query, required: false, description: 'Rows to skip (default 0).', schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        '200':
          description: Success
          headers:
            X-RateLimit-Limit: { description: 'Requests allowed per minute for this key.', schema: { type: integer } }
            X-RateLimit-Remaining: { description: 'Requests left in the current window.', schema: { type: integer } }
            X-RateLimit-Reset: { description: 'Unix time when the window resets.', schema: { type: integer } }
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: |
        A platform API key. Only its SHA-256 hash is stored, so a lost key cannot be
        recovered — revoke it and issue another in the platform's API keys panel.
  schemas:
    Problem:
      type: object
      description: RFC 9457 problem details.
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        code: { type: string, description: Stable machine-readable error code. }
        detail: { type: string }
      required: [type, title, status, code]
  responses:
    Unauthorized:
      description: 'The API key is missing, unknown, disabled or expired.'
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: 'The key does not carry the scope this route requires.'
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: 'No such resource, or this key cannot see it. The two are deliberately indistinguishable.'
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    RateLimited:
      description: 'The key exceeded its per-minute limit. Honour `Retry-After`.'
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    InternalError:
      description: 'The request could not be completed.'
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
